.body{
    min-height: 98vh;
    background-image: url("bckg1.png");
    display: grid;
    grid-template-areas: 'header'
    'main'
    'footer';
    grid-template-rows: 15vh 73vh 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1vh solid white;
}
a{
    color: white;
    text-decoration: none;
}
.header{
    width: 155vh;
    grid-area: 'header';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 2.75%;
    margin: auto;
    flex-flow: row wrap;
    font-size: 120%;
    font-family: 'Raleway', sans-serif;
}
.main{
    grid-area: 'main';
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 10vh;
    font-size: 2.5vh;
    color: black;
    font-style: italic;
    background-color: white;
    margin: auto;
    height: 113%;
    margin-top: 1%;
    margin-bottom: 2.5%;
    overflow: scroll;
    width: 94vw;
}
#back{
    padding-top: 1%;
    padding-left: 7.5%;
    color: black;
    text-align: left;
}
.main article{
    width: 90%;
    text-align: justify;
    padding-left: 10%;
    justify-content: right;
    gap: 10%;
}
#H1Title{
    font-size: 10vh;
}
#H1Title span{
    color: rgb(160	115	80	);
}
#Title, #Content, #Comm{
    width: 85%;
    border: 0.1rem solid rgb(160 115 80);
    padding: 1%;
    padding-right: 1.5%;
}
#div1, #div2{
    padding-bottom: 1.5%;
}
#Title{
    height: 4vh;
    font-size: 3vh;
    font-weight: bold;
    font-style: italic;
}
#Comm{
    height: 10vh;
    font-size: 3vh;
}
#Content{
    font-size: 2.5vh;
}
#Button{
    display: flex;
    width: 85%;
    justify-content: space-around;
}
#Button input{
    width: 15%;
    font-size: 3.5vh;
    border: 0.1rem solid black;
    background-color: lightgrey;
    font-family: 'Dosis', sans-serif;
}
#Button input:hover{
    background-color: rgb(174, 171, 171);
}
.Error{
    color: red;
    display: none;
    font-style: normal;
    font-size: 2vh;
}
.footer{
    grid-area: 'footer';
    display: flex;
    justify-content: space-evenly;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
}
@media screen and (max-width: 950px){
    .header, .footer{
        width: 80vh;
        margin-left: auto;
        margin-right: 5%;
        font-size: 1rem;
    }
    #Button input{
        font-size: 2vh;
    }
}