.body{
    min-height: 98vh;
    background-image: url("bckg1.png");
    display: grid;
    grid-template-areas: 'header'
    'main'
    'footer';
    grid-template-rows: 15vh 73vh 10vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-x: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1vh solid white;
}
a{
    color: white;
    text-decoration: none;
}
.header{
    width: 155vh;
    grid-area: 'header';
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 3%;
    border-bottom: 0.01rem solid white;
    margin: auto;
    flex-flow: row wrap;
    font-size: 120%;
    font-family: 'Raleway', sans-serif;/*google font here*/
}
.main{
    grid-area: 'main';
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10vh;
    font-size: 5vh;
    color: white;
    font-style: italic;
}
#name{
    font-size: 10vh;
}
#name span{
    color: rgb(160	115	80	);
}
.footer{
    grid-area: 'footer';
    display: flex;
    justify-content: space-evenly;
    border-top: 0.01rem solid white;
    padding-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
}
@media screen and (max-width: 768px){
    .main{
        text-align: left;
        padding-left: 5%;
        gap: 3%;
    }
}
@media screen and (max-width: 950px){
    .header, .footer{
        width: 80vh;
        margin-left: auto;
        margin-right: 5%;
        font-size: 1rem;
    }
}